<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="AssignmentBasePath" value="C:\Projects\MoCs\trunk\MoCS\assignments\"/>
  </appSettings>
  <connectionStrings>
    <add name="MoCS" connectionString="Data Source=.\sqlexpress;Initial Catalog=MoCS;Integrated Security=True;"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true"/>
    <!--<httpHandlers>
      <add path="*" verb="GET,HEAD,POST,PUT" type="System.Web.DefaultHttpHandler" validate="true" />
    </httpHandlers>-->
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false"/>
  </system.serviceModel>
</configuration>