<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AssignmentBasePath" value="C:\Projects\MoCs\trunk\MoCS\assignments\"/>
    <add key="CscPath" value="C:\WINDOWS\Microsoft.NET\Framework\v3.5\csc.exe"/>
    <!--<add key="NunitAssemblyPath" value="C:\Program Files\NUnit 2.4.8\bin"/>-->
    <add key="NunitAssemblyPath" value="C:\Program Files\NUnit 2.5.2\bin\net-2.0\framework"/>
    <add key="NunitConsolePath" value="C:\Program Files\NUnit 2.5.2\bin\net-2.0"/>    
    <add key="ResultBasePath" value="C:\mocs\"/>
    <add key="ProcessingTimeOut" value="45000"/>
    <add key="PollingInterval" value="15000"/>
  </appSettings>
  <connectionStrings>
    <add name="MoCS" connectionString="Data Source=.\sqlexpress;Initial Catalog=MoCS;Integrated Security=True;"/>
  </connectionStrings>
</configuration>