<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ServiceBaseAddress" value="http://localhost:8099/MoCSService"/>
    <add key="AssignmentBasePath" value="C:\Projects\MoCs\trunk\MoCS\assignments\"/>
  </appSettings>
  <connectionStrings>
    <add name="MoCS" connectionString="Data Source=.\sqlexpress;Initial Catalog=MoCS;Integrated Security=True;"/>
  </connectionStrings>

<!--
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="traceListener"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData= "c:\Traces.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  -->
</configuration>