<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--<add key="DataAccess" value="MoCS.Data.SQLDataAccess"/>-->
    <add key="DataAccess" value="MoCS.Data.EntityDataAccess"/>
    <add key="assignmentsBasePath" value="C:\Projects\MoCS\assignments"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="UseNotification" value="true"/>
  </appSettings>
  <connectionStrings>
    <add name="MoCS.Data.SQLDataAccess" connectionString="Data Source=.\sqlexpress;Initial Catalog=MoCS;Integrated Security=True;"/>
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_INotify">
          <security mode="None">
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8001/Notify" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INotify" contract="MoCSServiceReference.INotify"/>
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
