<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="ServiceUri" value="http://localhost:4037/MocSService.svc"/>-->
    <add key="ServiceUri" value="http://localhost:8099/MoCSService"/>
    <add key="AssignmentTimeOut" value="5000"/>
    <add key="SubmitsTimeOut" value="5000"/>
    <add key="SubmitsMatrixTimeOut" value="10000"/>
  </appSettings>
</configuration>