<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="MulticastIPAddress" value="224.0.0.40"/>
    <add key="MulticastPort" value="7601"/>
    <add key="ServerPort" value="5000"/>
    <add key="ServerIPAddress" value="127.0.0.1"/>
    <add key="UseMulticast" value="True"/>
    <add key="EnableLogging" value="False" />
    <add key="LogFileName" value="c:\client.txt"/>
    <add key="LogLevel" value="Info"/>
    <add key="TeamId" value=""/>
  </appSettings>
<startup><supportedRuntime version="v2.0.50727" sku="Client"/></startup>
</configuration>
