<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="MulticastIPAddress" value="224.0.0.40"/>
    <add key="MulticastPort" value="7601"/>
    <add key="ServerPort" value="5000"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="NoSecurity">
          <security mode="None"></security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="MocsServiceHost.Notify" behaviorConfiguration="mocsBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8001/Notify"/>
          </baseAddresses>
        </host>
        <endpoint address="" contract="MocsServiceHost.INotify" binding="basicHttpBinding" bindingConfiguration="NoSecurity"/>
        <endpoint address="mex" contract="IMetadataExchange" binding="mexHttpBinding"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mocsBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>    
  </system.serviceModel>      
<startup><supportedRuntime version="v2.0.50727" sku="Client"/></startup>
</configuration>
