<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="DataAccess" value="MoCS.Data.SQLDataAccess"/>-->
    <add key="DataAccess" value="MoCS.Data.EntityDataAccess"/>
    <add key="assignmentsBasePath" value="C:\Projects\MoCS\assignments"/>
  </appSettings>
  <connectionStrings>
    <add name="MoCS.Data.SQLDataAccess" connectionString="Data Source=.\sqlexpress;Initial Catalog=MoCS;Integrated Security=True;"/>
  </connectionStrings>
</configuration>