<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="MoCSModelContainer" connectionString="metadata=res://*/;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=MoCS;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
		</compilation>
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
</configuration>
